.d-button {
  width: 100%;
  background-color: #14509d;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  padding: 14.5px;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;

  &.search-button {
    width: 44px;
    padding: 12px;
    background-color: rgba(47, 128, 237, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      background-color: var(--primary);
      .search-button__search {
        display: block;
      }
      .search-button__search-default {
        display: none;
      }
    }
  }
  &.body-header {
    background-color: #f4f7f9;
    width: 135px;
    color: var(--primary);
    transition: 0.3s ease 0s;
    &:hover {
      background-color: var(--primary);
      color: #fff;
    }
    &.active {
      background-color: var(--primary);
      color: #fff;
    }
  }
  &.prev-button {
    width: 44px;
    padding: 12px;
    background: #f4f7f9;
  }
  &.next-button {
    width: 84px;
    position: relative;
  }
  &.pop-up-button-cancel {
    background-color: transparent;
    width: 98px;
    color: #a83232;
  }
  &.pop-up-button {
    width: 98px;
  }
  &.delete {
    background-color: #f1416c1a;
  }
  &.error-page {
    width: 240px;
  }
  &.calendar-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
    border-radius: 8px;
    color: var(--primary);
    transition: 0.3s ease 0s;
    &:hover {
      background-color: var(--primary);
      color: #fff;
    }
  }
}
.search-button {
  &__search {
    display: none;
  }
  &.active {
    background-color: var(--primary);
    .search-button__search {
      display: block;
    }
    .search-button__search-default {
      display: none;
    }
  }
}
