:root {
  --background: #949494;
  --white: #fff;
  --border: #cecece;
  --primary: #14509D;
  --text: #333;
  --input-text: color: rgba(0, 0, 0, 0.87);
	--login-btn-border:border: 1px solid rgba(0, 0, 0, 0.12);
	--login-need:rgba(0, 0, 0, 0.38);
	--input-border:#bbb;
	--input-back:#F8F8F8;
	--pop-up-back:rgba(51, 51, 51, 0.5);

}
